/* ImageSlider.css */
.image-slider {
  margin-top: 2px;
  position: relative;
  height: calc(100vh - 60px); /* Adjust the 60px to the height of your navbar if needed */
  overflow: hidden;
  padding-bottom: 80px; /* Add padding at the bottom to prevent overlapping with the footer */
}

.image-slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.slider-controls {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-controls button {
  background-color: #333;
  color: rgb(255, 255, 255);
  font-size: 24px;
  border: none;
  padding: 10px 15px;
  margin: 70px;
  cursor: pointer;
  outline: none;
}

.slider-controls button:hover {
  background-color: #010101;
}

